@use "../../styles/variables/colors";

.btn__plate {
  font-size: 80px;
  width: 1em;
  height: 1em;

  color: colors.$gen;
  background-color: transparent;
  //   background-color: colors.$bg_body;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3px;

  box-sizing: border-box;
  border-radius: 16px;
  border: none;
  border: 5px solid colors.$gen_dark-blue;

  position: relative;
  // top: 16px;
  // right: 16px;

  z-index: 1;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: colors.$btn_hover;
    // border: none;
    border: 5px solid colors.$btn_hover-dark;

    background-color: colors.$bg_body;
    // box-shadow: 1px 2px 8px 0.6px colors.$shadow;
    box-shadow: 1px 2px 8px 0.6px colors.$btn_gen;
  }
  &:active {
    top: 3px;
    right: 3px;
    // box-shadow: 1px 1px 2px 0.6px colors.$shadow;
    box-shadow: 1px 1px 2px 0.6px colors.$btn_gen;
  }
}

.svg__plate {
  font-size: 30px;
  width: 1em;
  height: 1em;

  fill: none;
  stroke: colors.$gen_dark-blue;

  &.svg_cart {
    stroke-width: 25px;
  }
  &.svg_cart_full {
    fill: colors.$gen_dark-blue;
    stroke-width: 25px;
  }
  &.svg_heart_empty {
    stroke-width: 65px;
  }
  &.svg_heart_full {
    fill: colors.$gen_dark-blue;
    stroke-width: 65px;
  }
}

.btn__plate:hover {
  & .svg__plate {
    stroke: colors.$btn_hover-dark;
  }

  & .svg_cart_full {
    fill: colors.$btn_hover-dark;
    stroke: colors.$btn_hover-dark;
  }
  & .svg_heart_full {
    fill: colors.$btn_hover-dark;
    stroke: colors.$btn_hover-dark;
  }
}

.counter_plate {
  font-size: 14px;

  position: absolute;
  top: 4px;
  right: 8px;
}
