@use "../../styles/variables/colors";

.btn__corner {
  font-size: 40px;
  width: 1em;
  height: 1em;

  color: colors.$btn_gen;
  background-color: transparent;
  background-color: colors.$bg_body;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid colors.$btn_dark;

  position: absolute;
  top: 16px;
  right: 16px;

  z-index: 1;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: colors.$btn_hover;
    border: 2px solid colors.$btn_hover-dark;
    box-shadow: 1px 2px 8px 0.6px colors.$shadow;
  }
  &:active {
    top: 17px;
    right: 17px;
    box-shadow: 1px 1px 2px 0.6px colors.$shadow;
  }
}

.btn__corner-left {
  left: 16px;
}

.svg {
  font-size: 18px;
  width: 1em;
  height: 1em;

  fill: colors.$btn_gen;

  transition: all 1.3s ease;
}

.btn__corner:hover .svg {
  font-size: 24px;
  width: 1em;
  height: 1em;

  fill: colors.$btn_hover;
  transition: all 0.2s ease;
}

.svg--heart {
  font-size: 18px;
  width: 1em;
  height: 1em;

  stroke-width: 50px;
  stroke: colors.$gen_dark-blue;
  fill: none;

  transition: all 1.3s ease;
}

.svg--heart.active {
  fill: colors.$btn_hover;
  stroke: none;
}

.btn__corner:hover .svg--heart {
  font-size: 24px;
  width: 1em;
  height: 1em;

  transition: all 0.2s ease;
}

.btn__corner:active .svg--heart {
  font-size: 38px;
  width: 1em;
  height: 1em;

  position: absolute;
  top: -10px;
  right: -3px;

  fill: colors.$btn_hover;
  stroke: none;
}

.svg--cart {
  font-size: 18px;
  width: 1em;
  height: 1em;

  stroke-width: 25px;
  stroke: colors.$gen_dark-blue;
  fill: none;

  transition: all 1.3s ease;
}

.btn__corner:hover .svg--cart {
  font-size: 24px;
  width: 1em;
  height: 1em;

  fill: colors.$gen_dark-blue;
  stroke: none;

  transition: all 0.2s ease;
}

.svg--cart.active {
  // fill: red;
  fill: colors.$btn_hover;
  stroke: none;
}

.btn__corner:hover .svg--cart.active {
  font-size: 24px;
  width: 1em;
  height: 1em;

  fill: colors.$btn_hover;
  stroke: none;

  transition: all 0.2s ease;
}

// .btn__corner:hover .svg--cart {
//   font-size: 24px;
//   width: 1em;
//   height: 1em;

//   fill: colors.$btn_hover;
//   stroke: none;
//   transition: all 0.2s ease;
// }
