@use "../../styles/variables/colors.scss";

.btn {
  width: 200px;
  height: 40px;
  color: colors.$btn_gen;
  background-color: transparent;
  padding: 10px 0;

  border-radius: 10px;
  border: 1px solid colors.$btn_dark;

  position: relative;
  user-select: none;

  &:hover {
    color: colors.$btn_hover;
    border: 1px solid colors.$btn_hover-dark;
    box-shadow: 1px 2px 8px 0.6px colors.$shadow;
  }
  &:active {
    top: 2px;
    right: 2px;
    box-shadow: 1px 1px 2px 0.6px colors.$shadow;
  }
}
