@use "../../styles/variables/colors.scss";

.modal-image__header-wrapper {
  width: 300px;
  height: 150px;

  color: gray;
  border: 1px solid colors.$gen_dark;
  border-radius: 12px;
}

.button__wrapper {
  width: 100%;
  display: flex;
  place-content: center space-around;
}