.section {
  min-height: calc(100vh - 100px - (2*30px));

  .section-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    // column-gap: 15px;
    // row-gap: 30px;
    gap: 20px;
  }
}
