@use "../../styles/variables/colors";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 20px;
  user-select: none;

  .logo__link {
    color: colors.$gen_dark-blue;

    position: relative;
    font-weight: 700;

    &:active {
      top: 3px;
      right: 3px;
    }
  }

  .logo__box {
    font-size: 80px;
    width: 1em;
    height: 1em;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    border-radius: 16px;
    border: 5px solid colors.$gen_dark-blue;

    &:hover {
      box-shadow: 1px 2px 8px 0.6px colors.$btn_gen;
      background-color: colors.$bg_body;
    }
    &:active {
      box-shadow: 1px 1px 2px 0.6px colors.$btn_gen;
    }
  }

  .logo__text {
    font-size: 16px;
    padding-bottom: 2px;
  }

  .logo__name {
    color: colors.$gen_dark-blue;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}

.menu {
  display: flex;
  column-gap: 15px;
}
